[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Name=Dashboard
Icon=utilities-terminal
Exec=/bin/sh -c "$HOME/scripts/smart-dashboard/run.sh"