[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=ProtonVPN
Comment=
Exec=/home/teklynk/scripts/protonvpn_minimized_start.sh
OnlyShowIn=XFCE;
RunHook=0
StartupNotify=false
Terminal=false
Hidden=false
